@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;0,500;0,600;1,100&family=Roboto:wght@300;400&display=swap");

body {
  width: 100%;
  font-family: "Roboto", sans-serif;
  background: #f1f1f1f1;
  
}

.col {
  width: 100%;
  max-width: 1224px;
  display: grid;
  grid-template-columns: 30% auto;
  gap: 14px;
  margin: 2rem auto;
}

/*fusion of .col & .sub-col*/

.col .sub-col {
  width: 100%;
  margin: 0;
}

#personal-info {
  width: 100%;
  height: auto;
  background: #ffff;
  margin-left: 10px;
  color: #757575;
  box-shadow: 0 4px 8px 0px #00000033, 0 6px 20px 0 #00000030;
}

.my-info {
  position: relative;
}

.my-info img {
  width: 100%;
  background: blue;
}

.my-info h3 {
  position: absolute;
  bottom: 0; 
  color: #000 !important; 
  left: 16px;
  font-size: 30px;
}

.text-icons {
  width: 80%;
  margin-left: 20px;
  color: #75758b;
}
.text-icons i {
  color: #009680;
  margin-right: 15px;
}

.fine-bare {
  border: 1px solid #757575;
  width: 90%;
  margin-left: 15px;
}

.asterisk i {
  margin: 20px 20px;
  color: #009680;
  
}

/*skills*/

.progress-bar {
  width: 90%;
  margin: 20px 0 20px 10px;
}

.progress-bar span {
  padding: 20px 0;
}

.percentage1 {
  background: #9e9e9e;
  text-align: center;
  border-radius: 15px;
  margin: 20px 0;
}

.percentage2 {
  width: 80%;
  color: #fff !important;
  background: #009680;
  padding: 2px 10px !important;
  border-radius: 15px;
  font-size: 13px;
}

.percentage3 {
  background: #9e9e9e;
  text-align: center;
  border-radius: 15px;
  margin: 20px 0;
}

.percentage4 {
  width: 70%;
  color: #fff !important;
  background: #009680;
  padding: 2px 10px !important;
  border-radius: 15px;
  font-size: 13px;
}

.percentage5 {
  background: #9e9e9e;
  text-align: center;
  border-radius: 15px;
  margin: 20px 0;
}

.percentage6 {
  width: 65%;
  color: #fff !important;
  background: #009680;
  padding: 2px 10px !important;
  border-radius: 15px;
  font-size: 13px;
}

.percentage7 {
  background: #9e9e9e;
  text-align: center;
  border-radius: 15px;
  margin: 20px 0;
}

.percentage8 {
  width: 45%;
  color: #fff !important;
  background: #009680;
  padding: 2px 10px !important;
  border-radius: 15px;
  font-size: 13px;
}

.spann {
  margin: 15px 0;
  padding: 20px;

}

.language {
  margin: 20px 0 20px 10px;
  width: 90%;
}

.language1 {
  background: #9e9e9e;
  text-align: center;
  border-radius: 15px;  
  margin: 20px 0;
}

.language2 {
  width: 100%;
  background: #009680;
  padding: 13px !important;
  border-radius: 15px;
}

.language3 {
  background: #9e9e9e;
  text-align: center;
  border-radius: 15px;
  margin: 20px 0;
}

.language4 {
  width: 50%;
  background: #009680;
  padding: 13px !important;
  border-radius: 15px;
}

.language5 {
  background: #9e9e9e;
  text-align: center;
  border-radius: 15px;
  margin: 20px 0;
  margin-bottom: 25px !important;
}

.language6 {
  width: 25%;
  background: #009680;
  padding: 13px !important;
  border-radius: 15px;
}

/*work-experience*/

#work-experience {
  background: #fff;
  width: 100%;
  height: auto;
  /* color: #757575; */
  box-shadow: 0 4px 8px 0px #00000033, 0 6px 20px 0 #00000030;
  margin-top: -20px;
  margin-left: 10px;
  padding-right: -40px;
  
}

.partie1 {
  margin-left: 20px;
}

.partie1 i {
  color: #009680;
}

.partie1 h4 {
  color: #757575;
}

.partie1 h1 {
  padding: 20px 0 0 20px;

  color: #757575;
}

.current {
  background: #009680;
  color: #fff;
  padding: 3px 15px;
  border-radius: 5px;
}

.line-fine {
  border: 1px solid #9e9e9e;
  width: 90%;
  margin-left: 20px;
}

/*education*/

#education {
  background: #fff;
  width: 85%;
  height: auto;
  padding-right: 116px;
  padding-bottom: 176px;
  margin-left: 10px;
  box-shadow: 0 4px 8px 0px #00000033, 0 6px 20px 0 #00000030;
}

#education i {
  color: #009680;
  padding-right: 10px;
}

#education h1 {
  color: #757575;
  margin-left: 20px;
  padding-top: 15px;
}

.part {
  margin-left: 20px;
}

.part h4 {
  color: #757575;
}

.part span {
  color: #009680;
}

.footer {
  background: #009680;
  color: #fff;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.iterms {
  padding-top: 10px;
}
.iterms p {
  padding-bottom: 10px;
}
