@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;0,500;0,600;1,100&family=Roboto:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: Roboto, sans-serif;
}

button {
  border: none;
  width: fit-content;
  height: fit-content;
}

body {
  width: 100%;
  font-family: Roboto, sans-serif;
  background: #f1f1f1f1;
}

.col {
  display: grid;
  grid-template-columns: 30% 1fr;
  gap: 10px;
  width: 96vw;
  max-width: 1224px;
  margin: 2rem auto 0;
}

#personal-info {
  width: 100%;
  background: #ffff;
  color: #757575;
  box-shadow: 0 4px 8px 0 #0003, 0 6px 20px 0 #00000030;
  padding: 0 0 1rem;
}

.my-info {
  position: relative;
}

.my-info img {
  width: 100%;
}

.my-info h3 {
  position: absolute;
  bottom: 0;
  color: #000 !important;
  left: 16px;
  font-size: 30px;
}

.text-icons {
  width: 100%;
  padding: 1rem;
  color: #75758b;
}

.text-icons i,
.asterisk i {
  display: inline;
}

.text-icons p,
.asterisk span {
  margin: 10px 0;
}

.text-icons i {
  color: #009680;
}

.fine-bare {
  border: 1px solid #757575;
  width: calc(100% - 1rem);
  margin: 0 auto;
}

.asterisk i {
  margin: 20px 1rem;
  color: #009680;
}

/* skills */

.progress-bar {
  width: 100%;
  padding: 1rem;
  margin: 20px 0;
}

.progress-bar span {
  padding: 20px 0;
}

.percentage1 {
  background: #9e9e9e;
  text-align: center;
  border-radius: 15px;
  margin: 20px 0;
}

.percentage2 {
  width: 90%;
  color: #fff !important;
  background: #009680;
  padding: 2px 10px !important;
  border-radius: 15px;
  font-size: 13px;
}

.percentage3 {
  background: #9e9e9e;
  text-align: center;
  border-radius: 15px;
  margin: 20px 0;
}

.percentage4 {
  width: 80%;
  color: #fff !important;
  background: #009680;
  padding: 2px 10px !important;
  border-radius: 15px;
  font-size: 13px;
}

.percentage5 {
  background: #9e9e9e;
  text-align: center;
  border-radius: 15px;
  margin: 20px 0;
}

.percentage6 {
  width: 75%;
  color: #fff !important;
  background: #009680;
  padding: 2px 10px !important;
  border-radius: 15px;
  font-size: 13px;
}

.percentage7 {
  background: #9e9e9e;
  text-align: center;
  border-radius: 15px;
  margin: 20px 0;
}

.percentage8 {
  width: 55%;
  color: #fff !important;
  background: #009680;
  padding: 2px 10px !important;
  border-radius: 15px;
  font-size: 13px;
}

.spann {
  margin: 15px 0;
  padding: 20px;
}

/* language-bar */

.spann i {
  display: inline;
  padding: 10px 20px;
  color: #009680;
}

.language {
  margin: 20px 0 20px 10px;
  width: 90%;
}

.language1 {
  background: #9e9e9e;
  text-align: center;
  border-radius: 15px;
  width: 100%;
  margin: 10px 0;
}

.language2 {
  width: 100%;
  background: #009680;
  padding: 13px !important;
  border-radius: 15px;
}

.language3 {
  background: #9e9e9e;
  text-align: center;
  border-radius: 15px;
  margin: 10px 0;
}

.language4 {
  width: 50%;
  background: #009680;
  padding: 13px !important;
  border-radius: 15px;
}

.language5 {
  background: #9e9e9e;
  text-align: center;
  border-radius: 15px;
  margin: 20px 0;
  margin-bottom: 25px !important;
}

.language6 {
  width: 25%;
  background: #009680;
  padding: 13px !important;
  border-radius: 15px;
}

/* work experience */

.partie1 i {
  display: inline;
  margin: 20px 1rem;
  color: #009680;
}

#work-experience {
  background: #fff;
  width: 100%;
  height: fit-content;
  box-shadow: 0 4px 8px 0 #0003, 0 6px 20px 0 #00000030;
  margin-bottom: 20px;
  line-height: 40px;
  padding: 0 1rem;
}

.partie1 a {
  display: inline;
}

.partie1 h4 {
  color: #757575;
}

.partie1 h1 {
  padding: 20px 0 0 20px;
  color: #757575;
}

.current {
  background: #009680;
  color: #fff;
  padding: 3px 15px;
  border-radius: 5px;
}

.line-fine {
  border: 1px solid #9e9e9e;
  width: 100%;
  margin: 10px auto;
}

/*education */

#education {
  background: #fff;
  width: 100%;
  height: fit-content;
  line-height: 40px;
  padding: 1rem;
  box-shadow: 0 4px 8px 0 #0003, 0 6px 20px 0 #00000030;
}

.iterms i {
  display: inline;
}

#education i {
  display: inline;
  color: #009680;
}

#education h1 {
  color: #757575;
}

.part h4 {
  color: #757575;
}

.part span {
  color: #009680;
}

.line {
  border: 1px solid #9e9e9e;
  width: 100%;
}

.footer {
  background: #009680;
  color: #fff;
  width: 100%;
  text-align: center;
  margin: 10px 0;
  height: 100px;
  line-height: 30px;
}

.iterms p {
  margin-bottom: 10px;
}



.iterms a {
  color: unset;
}

@media only screen and (max-width: 768px) {
  .col {
    grid-template-columns: 1fr;
  }
}
